<?xml version="1.0"?>
<config>
    <modules>
        <Eeree_OneProductAtATime>
            <version>1.0.0</version>
        </Eeree_OneProductAtATime>
    </modules>
    <global>
        <models>
            <eeree_oneproductatatime>
                <class>Eeree_OneProductAtATime_Model</class>
                <resourceModel>eeree_oneproductatatime_resource</resourceModel>
            </eeree_oneproductatatime>
            <eeree_oneproductatatime_resource>
                <class>Eeree_OneProductAtATime_Model_Resource</class>
            </eeree_oneproductatatime_resource>
        </models>
        <helpers>
            <eeree_oneproductatatime>
                <class>Eeree_OneProductAtATime_Helper</class>
            </eeree_oneproductatatime>
        </helpers>
        <translate>
            <modules>
                <eeree_oneproductatatime>
                    <files>
                        <default>Eeree_OneProductAtATime.csv</default>
                    </files>
                </eeree_oneproductatatime>
            </modules>
        </translate>
    </global>
    <frontend>
        <events>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <eeree_oneproductatatime>
                        <type>singleton</type>
                        <class>Eeree_OneProductAtATime_Model_Observer</class>
                        <method>catalogProductTypePrepareFullOptions</method>
                    </eeree_oneproductatatime>
                </observers>
            </catalog_product_type_prepare_full_options>
        </events>
    </frontend>
</config>